.new-tweet {
 width: 80%;
 margin: auto;
}

h2 {
 padding: 10px;
 margin: 0;
}

.form {
 margin: 0;
 padding: 10px;
}

/* ////output div//// */
.output-div {
 display: flex;
 justify-content: space-between;
}

#tweet-btn {
 font-family: "Bungee", sans-serif;
 background-color: #4056a1;
 color: white;
}
#letter-counter {
 font-family: "Bungee", sans-serif;
}

#tweet-text {
 width: 100%;
 height: auto;
 border: none;
 border-bottom: 5px solid black;
 background-color: #f4f1ec;
 margin: 0;
 padding: 0;
}
