/* For entire tweet container */
#tweets-container {
 height: auto;
 width: 80%;
 margin: auto;
 background-color: #f4f1ec;
 padding: 10px;
 margin-bottom: 20px;
}

#avatar-img {
 width: 2.2rem;
 height: 2.2rem;
}

/* Each tweet is the entire tweet body inserted via jQuery into tweet-container */

#each-tweet {
 border: 2px solid black;
 margin-bottom: 10px;
}

#each-tweet:hover {
 box-shadow: 5px 5px grey;
}

/* Tweet header has two divs, left and right */

#tweet-header {
 width: 95%;
 margin: auto;
 display: flex;
 justify-content: space-between;
}

#tweet-header-left {
 display: flex;
 align-items: center;
 padding: 0 5px;
}

#tweet-header-left h4 {
 padding: 0 10px;
}

#tweet-header-right {
 color: lightgray;
 padding: 0 5px;
}

/* Tweet itself */

#tweet-content {
 margin: auto;
 width: 95%;
 padding: 5px 10px;
 border-bottom: 5px solid black;
}

/* Footer items for tweet body */

#tweet-footer {
 margin: auto;
 width: 95%;
 padding: 10px;
 display: flex;
 justify-content: space-between;
 font-size: 0.6em;
}

.tweet-options:hover {
 color: #ff9900;
 cursor: pointer;
}
